/* BIG DESKTOP = 1440px+ */
@media screen and (min-width: 90em) {
  .container {
    max-width: 144rem;
    margin: 0 auto;
  }
}

/* TABLET LANDSCAPE = 1024px */
@media (max-width: 64em) {
  .header,
  .hero-section,
  .explore-cards--section,
  .testimonial-section,
  .why-us--section,
  .footer-section,
  .about-section,
  .why-section,
  .m-v--section,
  .cards-section,
  .tutor-section,
  .contact-section,
  .pricing-cards--section {
    padding: 0 1.6rem;
  }

  .explore-cards--section,
  .why-us--section,
  .cards-section,
  .contact-section {
    margin-bottom: 7.2rem;
  }

  .pricing-cards--section {
    margin-bottom: 8rem;
  }

  .why-section {
    margin: 7.2rem auto;
  }

  .header-container {
    padding: 1.6rem 3.2rem;
  }

  .header-logo {
    padding-right: 0;
  }

  .right-border {
    display: none;
  }

  .btn-container {
    width: 100%;
  }

  .header-btn {
    width: 100%;
    border-top: 0.3rem dotted #545961;
    padding: 2.4rem 3.2rem 0;
  }

  .logo {
    width: 4.29rem;
    height: 4.8rem;
    position: relative;
    z-index: 9999;
  }

  .btn-mobile--nav {
    display: inline-block;
    z-index: 9999;
  }

  .main-nav {
    background-color: #23262c;
    color: #fff;
    gap: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
    height: auto;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 1;
    border: none;
    padding: 7.6rem 0 2.4rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    border-radius: 1.2rem;
    flex-direction: column;
  }

  .nav-open .icon-mobile--nav[name="close-outline"] {
    display: block;
    color: #fff;
  }

  .nav-open .icon-mobile--nav[name="menu-outline"] {
    display: none;
  }

  .main-nav--list {
    flex-direction: column;
    gap: 3.2rem;
    font-size: 2rem;
    align-self: flex-start;
    border-top: 0.3rem dotted #545961;
    padding: 2.4rem 3.2rem 0;
    width: 100%;
  }

  .tutor-btn,
  .book-btn {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: center;
    width: 100%;
  }

  .hero-container {
    grid-template-columns: 1.3fr 0.7fr;
    column-gap: 7.6rem;
    padding: 6.4rem 4.8rem;
  }

  .arrow {
    font-size: 2.4rem;
  }

  .hero-heading,
  .hero-primary--text {
    font-size: 2.4rem;
  }

  .hero-subtext {
    font-size: 1.4rem;
  }

  .hero-img {
    width: 23.4rem;
    height: 23.7rem;
  }

  .course-section {
    margin: 4.8rem auto 8rem;
    padding: 0;
  }

  .course-name {
    font-size: 1.6rem;
  }

  .icon-grid--container {
    max-width: 100%;
  }

  .smile-icon--img {
    max-width: 16.4rem;
    height: 16.4rem;
  }

  .explore-subtext {
    font-size: 1.6rem;
  }

  .explore-card--grid,
  .about-card--grid {
    max-width: 100%;
    padding: 1.2rem;
    column-gap: 1.2rem;
  }

  .explore-card {
    max-width: 96%;
    padding: 2.4rem 1.2rem 1.6rem;
    height: 43.4rem;
  }

  .explore-btn,
  .price-btn,
  .about-explore--btn {
    font-size: 1.4rem;
    margin-top: auto;
    padding: 1.8rem 1.6rem;
  }

  .card-wrap {
    padding: 2.4rem 1.6rem 3.2rem;
  }

  .card-heading {
    font-size: 2.4rem;
    padding: 0 0 1.6rem;
  }

  .card-tertiary--text {
    padding: 0 0 0.8rem;
  }

  .levels {
    padding-bottom: 2.4rem;
  }

  .badge-img {
    width: 11.7rem;
    height: 12.16rem;
    top: -27%;
  }

  .course-section {
    overflow: hidden;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: var(--color-artyclick-blue);
  }

  .course-container {
    display: flex;
    width: max-content;
    border-radius: 0;
    animation: move 22s linear infinite;
  }

  .course-section::before,
  .course-section::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8rem;
    z-index: 2;
    pointer-events: none;
  }

  .course-section::before {
    left: -4%;
    background: linear-gradient(to right, var(--primary-color), transparent);
  }

  .course-section::after {
    right: -4%;
    background: linear-gradient(to left, var(--primary-color), transparent);
  }

  .course-container:hover {
    animation-play-state: paused;
  }

  .course-group,
  .course-group-2 {
    display: flex;
    align-items: center;
  }

  .course-group {
    padding-right: 3.2rem;
  }

  .course-name {
    display: inline-flex;
    align-items: center;
    padding: 0 3.2rem;
    transition: color 0.2s ease;
    position: relative;
  }

  .course-name::after {
    content: "·";
    position: absolute;
    right: -2px;
    color: var(--color-white);
    font-size: 2rem;
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .student-level {
    font-size: 1.2rem;
  }

  .journey-container {
    margin: 9.6rem auto 8rem;
  }

  .m-v--section {
    max-width: 100%;
  }

  .m-v--card {
    width: 100%;
    padding: 4rem 4rem 5.2rem;
    display: block;
  }

  .explore-section,
  .testimonial-section {
    margin: 0 auto 7.2rem;
  }

  .testimonial-container {
    grid-template-rows: 1fr 1fr;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
  }

  .testimonial-heading {
    font-size: 2.4rem;
  }

  .testimonial-text {
    font-size: 1.4rem;
  }

  .testimonial-cards {
    padding: 2.4rem;
  }

  .icon-container {
    column-gap: 10.7rem;
  }

  .why-us--container {
    padding: 4.8rem;
  }

  .why-container {
    padding: 4.8rem 4rem;
  }

  .about-icon--container {
    row-gap: 10rem;
  }

  .why-us-mini--container {
    gap: 2rem;
    padding-top: 6.4rem;
  }

  .about-explore--btn,
  .price-btn {
    margin-top: auto;
  }

  .why-us--heading,
  .why-us--subtext {
    font-size: 3.2rem;
  }

  .why-us--img {
    width: 16.4rem;
    height: 16.4rem;
  }

  .icons {
    font-size: 4rem;
  }

  .why-us {
    padding-top: 4.8rem;
  }

  .why-card--text {
    font-size: 1.6rem;
  }

  .line-1--img {
    top: 11%;
  }

  .line-2--img {
    top: 43%;
  }

  .line-3--img {
    bottom: 19%;
  }

  .m-v--container {
    padding: 1.6rem;
    column-gap: 1.6rem;
  }

  .plan-text--box {
    padding: 3.2rem;
    margin-bottom: 2.4rem;
  }

  .pricing-container {
    column-gap: 1.2rem;
    padding: 1.2rem;
  }

  .select-btn--1,
  .select-btn--2,
  .select-btn--3,
  .recommended-btn {
    padding: 2.8rem;
    margin-top: auto;
  }

  .pricing-card {
    padding: 0 0.8rem 0.8rem;
  }

  .value-badge--img {
    right: 0;
    top: -13%;
    max-width: 9.6rem;
    height: auto;
  }

  .card-text-container {
    padding: 4rem 3.2rem;
    column-gap: 9.4rem;
  }

  .card-background {
    padding: 1.2rem;
  }

  .card-content {
    padding: 2.4rem 1.6rem 4rem;
  }

  .card-contents {
    padding: 2.4rem 1.6rem 4rem;
  }

  .tutor-img {
    margin-bottom: 3.2rem;
  }

  .pricing-text--container {
    padding: 3.2rem;
  }

  .pricing-text--card {
    gap: 2rem;
  }

  .padding-container {
    padding-bottom: 8rem;
  }

  .tutor-container {
    row-gap: 9.6rem;
  }

  .tutor-card {
    padding: 0 0.8rem 0.8rem;
  }

  .tutor-name {
    padding-bottom: 2rem;
  }

  .tutor-section {
    margin-bottom: 12rem;
  }

  .package-container {
    gap: 6.4rem;
  }

  .plan-price {
    font-size: 3.2rem;
  }

  .lesson-type--include,
  .lesson-type--include--1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .pricing-icon--container {
    column-gap: 11.7rem;
  }

  .contact-container {
    padding: 4.8rem;
  }
}

/* TABLET PORTRAIT = 768px */
@media (max-width: 48em) {
  .btn-mobile--nav {
    right: 6%;
  }

  .hero-container {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    padding: 3.2rem;
    row-gap: 3.2rem;
    column-gap: 3.2rem;
  }

  .course-section {
    padding: 0;
  }

  .course-container {
    gap: 2rem;
    border-radius: 0;
    padding: 2.4rem 1.6rem;
  }

  .hero-img--container,
  .smiley-container,
  .why-us--icon {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }

  .social-btn {
    padding: 0.8rem 1.6rem;
  }

  .icon-grid--container {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    row-gap: 3.2rem;
    column-gap: 4.8rem;
    padding-bottom: 8rem;
  }

  .badge-img {
    top: -16%;
    left: -3%;
    max-width: 8rem;
    height: auto;
  }

  .explore-section {
    padding: 0 0.4rem;
  }

  .explore-card--grid {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    row-gap: 1.2rem;
  }

  .explore-card--2 {
    grid-row: 1 / 2;
    grid-column: 1 /2;
  }

  .card-wrap {
    padding: 4rem 0 2rem;
  }

  .cards-section .card-wrap {
    padding: 4rem 2.4rem 2rem;
  }

  .levels,
  .card-tertiary--text,
  .card-heading,
  .card-subtext,
  .card-subtext--1 {
    flex-wrap: wrap;
  }

  .card-heading {
    font-size: 2.4rem;
  }

  .price-btn,
  .explore-btn,
  .about-explore--btn {
    padding: 1.6rem;
    font-size: 1.6rem;
  }

  .arrow {
    font-size: 2rem;
  }

  .testimonial-container {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    row-gap: 1.6rem;
    column-gap: 1.6rem;
  }

  .why-us--container {
    padding: 2rem;
  }

  .icon-container {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    column-gap: 2.4rem;
    row-gap: 4rem;
  }

  .why-us--heading,
  .why-us--subtext {
    font-size: 2.4rem;
  }

  .why-us {
    gap: 1.6rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .footer-container {
    gap: 2.4rem;
  }

  .footer-logo--container {
    justify-self: center;
  }

  .about-card,
  .about-card--2,
  .about-card--3,
  .about-card--4 {
    height: auto;
    max-width: 100%;
    margin-left: 0;
  }

  .about-primary--text {
    font-size: 2.4rem;
  }

  .line-1--img,
  .line-2--img,
  .line-3--img {
    display: none;
  }

  .about-img {
    height: 20rem;
  }

  .journey-container {
    margin-top: 7.2rem;
  }

  .m-v--section {
    margin: 0 auto;
    height: 100%;
  }

  .m-v--container {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    padding: 1.6rem;
    row-gap: 1.6rem;
  }

  .m-v--card {
    height: 100%;
    padding: 2rem 1.2rem;
  }

  .m-v-primary--text {
    padding: 0.8rem 0 1.2rem;
  }

  .why-container {
    padding: 4rem 2rem;
  }

  .why-us-mini--container {
    flex-direction: column;
    padding-top: 4.8rem;
  }

  .about-icon--container {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    column-gap: 4rem;
    row-gap: 4rem;
  }

  br {
    display: none;
  }

  .about-card--grid {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    padding: 0.8rem;
    row-gap: 0.8rem;
    height: auto;
  }

  .tutor-container {
    row-gap: 6.4rem;
  }

  .tutor-section .dotted-border {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
  }

  .card-text-container {
    height: auto;
  }

  .card-text-container {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    column-gap: 3.2rem;
    row-gap: 5.4rem;
    padding: 4.4rem 0 0;
    margin-bottom: 0;
  }

  .card-background,
  .card-background--1 {
    position: static;
    width: 100%;
    margin: 0 auto;
    padding: 0.8rem;
  }

  .card-content {
    padding: 2.4rem 1.6rem;
  }

  .tutor-img {
    margin-bottom: 2rem;
  }

  .tutor-name {
    font-size: 2.4rem;
    padding-bottom: 1.6rem;
  }

  .lesson-number {
    padding: 1.2rem 0 2.4rem;
  }

  .fee-text {
    font-size: 1.4rem;
  }

  .lesson-fee {
    font-size: 1.6rem;
  }

  .tutor-section .dotted-border:last-child {
    border-bottom: none;
  }

  .tutor-section {
    margin-bottom: 8rem;
  }

  .pricing-container {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
    padding: 1.6rem;
    width: 80%;
    margin: 0 auto;
  }

  .pricing-card:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .pricing-card:nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .tutor-icon--container {
    column-gap: 2.6rem;
  }

  .tutor-meet--text {
    font-size: 2.8rem;
  }

  .footer-nav--container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 3.2rem;
    row-gap: 3.2rem;
    justify-items: center;
  }

  .copyright {
    grid-column: span 2;
  }

  .plan-text--box {
    padding: 2rem;
  }

  .lesson-type--include,
  .lesson-type--include--1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-items: baseline;
    align-items: center;
    padding: 0 0 1.2rem;
    row-gap: 1rem;
    column-gap: 1.6rem;
    max-width: 80%;
  }

  .blue-tag,
  .tag {
    padding: 0.8rem 1.6rem;
  }

  .plan-price {
    font-size: 3rem;
    padding: 0 0 1.2rem;
  }

  .card-content--1 {
    padding: 2rem 1.6rem;
  }

  .lesson-total {
    padding-bottom: 0.8rem;
  }

  .value-badge--img {
    top: -5.2%;
    right: 0;
  }

  .pricing-text--container {
    padding: 2rem 1.6rem;
  }

  .pricing-icon--container {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    column-gap: 4.4rem;
    row-gap: 2.4rem;
  }

  .pricing-img--icon {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }

  .pricing-text--card {
    flex-direction: column;
    padding: 4.8rem 0 0;
  }

  .card-contents {
    padding: 4rem 2.8rem 2.4rem;
  }

  .text-box--heading,
  .text-box--subtext,
  .choose-plan--text,
  .choose-plan--subtext {
    font-size: 3rem;
  }

  .contact-container {
    padding: 2rem;
  }

  .form {
    padding-top: 4.8rem;
  }

  .form-input {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.4rem;
  }
}

/* MOBILE = 480px */
@media (max-width: 30em) {
  .main-nav--list {
    padding: 2.4rem 2.4rem 0;
  }

  .header-btn {
    padding: 2.4rem 1.2rem 0;
  }

  .btn-mobile--nav {
    right: 7.5%;
  }

  .tutor-btn,
  .book-btn {
    padding: clamp(1.6rem, 5vw, 2rem);
    font-size: clamp(1.4rem, 4vw, 1.6rem);
  }

  .main-nav--link,
  .hero-subtext,
  .social-btn {
    font-size: clamp(1.6rem, 4vw, 1.8rem);
  }

  .hero-section {
    margin: 0 auto;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-section--text {
    text-align: center;
  }

  .hero-section {
    padding: 0 1.6rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    padding: 3.2rem 2rem;
  }

  .icon-grid--container {
    padding: 0 0 6.4rem;
    text-align: center;
  }

  .course-section {
    margin: 4.8rem auto;
    padding: 0;
  }

  .course-container {
    gap: 0;
  }

  .course-group {
    padding-left: 0;
    padding-right: 0;
  }

  .course-name {
    padding: 0 1.6rem;
  }

  .explore-section {
    padding: 0 1.6rem;
    margin: 0 0 5.6rem;
  }

  .badge-img {
    max-width: 10rem;
    top: -23%;
    left: -3%;
  }

  .explore-primary--text {
    line-height: 1.3;
    font-size: 2.2rem;
  }

  .explore-subtext {
    padding-bottom: 2rem;
  }

  .card-wrap,
  .cards-section .card-wrap {
    padding: 4rem 1.2rem 2rem;
  }

  .card-heading {
    font-size: 2rem;
    line-height: 1.3;
  }

  .card-subtext,
  .card-tertiary--tex {
    font-size: 1.4rem;
  }

  .tag {
    font-size: 1.2rem;
  }

  .levels {
    padding: 0 1.2rem 2rem;
  }

  .testimonial-section {
    padding: 0 1.6rem;
    margin: 0 0 6.4rem;
    width: 100%;
  }

  .icon-container {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .why-us--text {
    text-align: center;
  }

  .why-us--section {
    margin: 0 auto 5.6rem;
  }

  .why-us--icon {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
  }

  .why-us {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
  }

  .footer-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.6rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
    column-gap: 1.2rem;
  }

  .footer-nav--container {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.2rem;
    row-gap: 3rem;
    justify-items: center;
  }

  .copyright {
    grid-column: span 2;
    justify-self: center;
  }

  .footer-logo--container {
    justify-self: center;
  }

  .footer-socials {
    gap: 1.2rem;
    grid-column: span 2;
  }

  .footer-contact {
    grid-column: span 2;
  }

  .footer-social--icon {
    font-size: 2rem;
    padding: 1rem;
  }

  .about-primary--text,
  .about-subtext,
  .card-heading--text {
    font-size: 3rem;
  }

  .about-card--grid {
    padding: 1.6rem;
    row-gap: 1.6rem;
  }

  .m-v--section {
    height: 100%;
  }

  .m-v-primary--text {
    font-size: 3rem;
  }

  .about-icon--container {
    grid-template-columns: 1fr;
    row-gap: 4.4rem;
  }

  .why-section {
    margin: 5.6rem auto;
  }

  .cards-section {
    margin: 0 auto 5.6rem;
  }

  .levels,
  .card-tertiary--text,
  .card-heading,
  .card-subtext,
  .card-subtext--1 {
    padding-left: 0;
    padding-right: 0;
  }

  .tutor-icon--container .tutor-img--icon {
    justify-self: center;
  }

  .tutor-icon--container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .tutor-meet {
    text-align: center;
  }

  .tutor-img--icon {
    grid-row: 1/2;
    justify-self: center;
  }

  .tutor-container {
    margin: 0 auto 5.6rem;
    row-gap: 7.2rem;
  }

  .tutor-container .start-btn {
    font-size: 1.6rem;
  }

  .card-text-container {
    padding: 3.6rem 0 0;
  }

  .card-background {
    position: static;
    padding: 1.6rem;
  }

  .name,
  .tutor-name {
    font-size: 2.4rem;
  }

  .tutor-native,
  .lesson-fee {
    font-size: 1.6rem;
  }

  .fee-text,
  .lesson-number,
  .tag {
    font-size: 1.2rem;
  }

  .tutor-bio,
  .tutor-qualification,
  .tutor-native {
    font-size: 1.4rem;
  }

  .value-badge--img {
    max-width: 8rem;
    height: auto;
    top: -4%;
    right: -0.6%;
  }

  .card-contents {
    padding: 4rem 1.6rem 2.4rem;
  }

  .tutor-card,
  .tutor-card--1 {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 4rem 1.2rem 2.4rem;
  }

  .choose-plan--text,
  .choose-plan--subtext,
  .text-box--heading,
  .text-box--subtext {
    font-size: 2.4rem;
  }

  .pricing-container {
    width: 100%;
  }

  .pricing-container .recommended-btn,
  .pricing-container .select-btn--2,
  .pricing-container .select-btn--1 {
    font-size: 1.6rem;
  }

  .tutor-img {
    margin-bottom: 1.2rem;
  }

  .lesson-number {
    padding: 1.2rem 0;
  }

  .fee-container {
    gap: clamp(6rem, 30%, 12rem);
    text-wrap: nowrap;
  }

  .start-btn {
    font-size: 1.6rem;
    padding: 1.6rem;
  }

  .pricing-cards--section {
    margin-bottom: 5.6rem;
  }

  .start-btn,
  .explore-btn,
  .price-btn,
  .select-btn--1,
  .select-btn--2,
  .select-btn--3,
  .about-explore--btn,
  .recommended-btn {
    padding: 2rem 1.6rem;
    font-size: 1.4rem;
  }

  .about-explore--btn,
  .price-btn {
    font-size: clamp(
      1.2rem,
      calc(12px + (16 - 12) * ((100vw - 320px) / (375 - 320))),
      1.6rem
    );
  }

  .tutor-tag--1,
  .lesson-type--include--1 {
    flex-direction: row;
    gap: 1.6rem;
  }

  .plan-text--box {
    padding: 2rem 1.6rem;
  }

  .contact-container {
    padding: 2rem 1.6rem;
  }

  .hello-text,
  .enquiry-text {
    font-size: 3rem;
  }
}
